/* whole page */

div#content {
  width: 800px;
  margin: 0% 10%;
  background-color: #ffffff;
  height: 800px;
}

h1,h2,h3,h4 {
  font-family: sans-serif;
  font-weight: bold;
  color: #004d80;
  padding: 0px 0px 20px 0px;
}

p {
  font-family: sans-serif;
}

/* app */
div#app {
  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #004d80;
  background-color: #ccebff;
  padding: 5%;
  width: 600px;
  height: 160px;
  margin: 0% 5%;
  text-align: center;
  vertical-align: center;
}
div#app > p {
  font-style: italic;
  font-size: 2rem;
  color: #666;
}
div#app > p.term {
  font-size: 3.5rem;
  color: #444;
  font-weight: bold;
  font-style: normal;
}

/* buttons */

div#buttonBox {
  width: 500px;
  margin: 0% 15%;
  padding: 10px;
}
div#buttons > button {
  font-size: 1.2rem;
  margin: 10px;
  padding: 6px 8px;
  display: inline-block;
  border-radius: 5px;
  border-style: solid;
  border-width: medium;
}
button[name="resetButton"] {
  border-color: #ff4000;
  background-color: #ff9f80;
}
button[name="startButton1"] {
  border-color: #29a329;
  background-color: #adebad;
}
button[name="startButton2"] {
  border-color: #29a329;
  background-color: #adebad;
}
button[disabled] {
  border-color: #bbb;
  background-color: #ddd;
}
